{% extends 'base.html' %}

{% block content %}

<div class="container">

    <br />
    <br />

    <div id="program_detail-container-title" class="container">
        <br />
        <div class="col">
            <div class="row">
                {% if request.user.is_superuser %}
                <div class="col-md-10 mr-2">
                    <!-- <h3>{{ program_detail.name }} : {{ program_detail.program_status }}</h3> -->
                    <h3>{{ program_detail.name }}</h3>
                </div>
                <!-- EDIT -->
                <div class="ml-auto">
                    <form method="GET" action="{% url 'edit_study_program' program_id %}">
                        <button type="submit" class="btn btn-outline-success">Edit Profile</button>
                    </form>
                </div>
                {% else %}
                <div class="col">
                    <h3>{{ program_detail.name }}</h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- BASIC INFO -->
    <div id="basic_info-container" class="container">
        <!-- <div class="col text-center">
            <h1>PROFILE</h1>
        </div> -->
        <div class="row">
            <div class="col-md-10">
                <h5>Code: {{ program_detail.code }}</h5>
                <h5>Degree: {{ program_detail.degree_and_major }}</h5>
                <h5>Collaboration: {{ program_detail.collaboration_with_other_institues }}</h5>
            </div>
            <div class="ml-auto mr-3">
                <a class="btn btn-outline-success" href="{{ program_detail.pdf_docs.url }}">docs</a>
            </div>
        </div>
    </div>


    <!-- RESPONSIBLE PROFESSOR -->
    <div id="responsible_professor-container" class="container">
        <div class="col">
            <h4>Responsible Lecturer</h4>
        </div>

    </div>

    <!-- CREATE PROFESSOR -->
    <!-- {% if request.user.is_superuser %}
    <form method="GET" action="{% url 'create_professor_fromStudyProgram' program_id %}">
        <button type="submit" class="text-light text-right btn btn-dark col-md-12">+ Create Professor</button>
    </form>
    {% else %}
    {% endif %} -->

    <!-- RESPONSIBLE PROFESSOR LIST -->
    <div class=bg-light>
        <ul class="list-group">
            {% for responsible_professor in professors %}
            <a class="list-group-item list-group-item-light bg-light" href="{% url 'professor_profile' responsible_professor.id %}">
                {{ responsible_professor.academic_title }} &emsp; {{ responsible_professor.name_surname }}

                <i id="angle-right-icon" class="fas fa-angle-right"></i>
            </a>
            {% endfor %}
        </ul>
    </div>


    <!-- ASSESSMENT RESULT -->
    <div id="assesment_result-container" class="container">
        <div class="col">
            <h4>Assesment Result</h4>
        </div>

    </div>

    <!-- ASSESSMENT RESULT LIST -->
    <div class=bg-light>
        <ul class="list-group">
            {% for assessment in assessment_list %}
            <a class="list-group-item list-group-item-light bg-light" href="{% url 'assessment_result' assessment.id %}">
                {{assessment.year}} : &emsp;&emsp;&emsp; {{ assessment.program_id }}

                <i id="angle-right-icon" class="fas fa-angle-right"></i>
            </a>
            {% endfor %}
        </ul>
    </div>

    <br />
    <br />


</div>


{% endblock %}