{% extends 'base.html' %}

{% block content %}


<div class="container">

    <br />
    <br />
    <!-- ASSWSSMENT LIST HEADER -->
    <div id="all_assessment-container-1" class="container">
        <br />
        <div class="col">
            <div class="row">
                {% if request.user.is_superuser %}
                <div class="col-md-8 mr-4">
                    <h1>Assessment List</h1>
                </div>

                <div class="ml-auto">
                    <form method="GET" action="{% url 'all_program' current_page %}">
                        <button id="ExportCSV-btn" type="submit" class="btn btn-outline-success mr-4 ml-4">Export CSV</button>
                    </form>
                </div>

                <!-- CREATE ASSESSMENT -->
                <form method="GET" action="{% url 'create_assessment_result' %}">
                    <button type="submit" class="btn btn-outline-success">Add Assessment</button>
                </form>
                {% else %}
                <div class="col-md-10 mr-4">
                    <h1>Assessment List</h1>
                </div>

                <form method="GET" action="{% url 'all_program' current_page %}">
                    <button id="ExportCSV-btn" type="submit" class="btn btn-outline-success ml-4">Export CSV</button>
                </form>
                {% endif %}
            </div>
        </div>
        <br />
    </div>

    <!-- NAVBAR -->
    <nav id="all_assessment-container-2" class="navbar navbar-expand-lg">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav mr-auto">
                <li id="faculties-nav-dropdown" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Faculties
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for key, value in faculties.items %}
                        <a class="dropdown-item" href="{{key}}">{{ value }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" action="{% url 'all_program' current_page %}" method="get">
                <!-- submit query -->
                <div class="md-form mt-0">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control col-md-12 mr-sm-2 ml-2" name="faculty_name" type="search" placeholder="Search Program..."
                        aria-label="Search" value={{request.GET.faculty_name}}>
                </div>
            </form>
        </div>
    </nav>

    <br />


    <!-- PROFESSOR LIST -->
    <div class="bg-light">
        <ul class="list-group">
            {% for assessment in assessments %}
            <a class="list-group-item list-group-item-light bg-light" href="{% url 'assessment_result' assessment.id %}">
                <h6>{{ assessment.year}} : {{ assessment.program_id }}
                    <i id="angle-right-icon" class="fas fa-angle-right"></i>
                </h6>
            </a>
            {% endfor %}
        </ul>

    </div>

    <!-- CHANGE PAGE -->
    <div id="all_assessment-container-3" class="container text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn" href="{% url 'all_assessment' prev_page %}">back</a>
            <button type="button" class="btn">{{current_page}}</button>
            <a class="btn" href="{% url 'all_assessment' next_page %}">next</a>
        </div>
        <br />
    </div>

</div>

{% endblock %}