{% extends 'base.html' %}

{% block content %}


<div class="container">

    <br />
    <br />

    <!-- TITLE -->
    <div id="professor_profile-container-title" class="container">
        <br />
        <div class="col">
            <div class="row">
                {% if request.user.is_superuser %}
                <div class="col-md-10 mr-2">
                    <h3>{{ professor_profile.academic_title }} {{ professor_profile.name_surname }}</h3>
                </div>
                <!-- EDIT -->
                <div class="ml-auto">
                    <form method="GET" action="{% url 'edit_professor_profile' professor_id %}">
                        <button type="submit" class="btn btn-outline-success">Edit Profile</button>
                    </form>
                </div>
                {% else %}
                <div class="col">
                    <h3>{{ professor_profile.academic_title }} {{ professor_profile.name_surname }}</h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- BASIC INFO -->
    <div id="basic_info-container" class="container">
        <!-- <div class="col text-center">
            <h1>PROFILE</h1>
        </div> -->
        <div class="row">
            <div class="col-md-10">
                <h5>code: {{ professor_profile.professor_id }}</h5>
                <h5>university: {{ professor_profile.university }}</h5>
                <!--<h5>date of birth: {{ professor_profile.date_of_birth }}</h5>-->
                <h5>email: {{ professor_profile.email }}</h5>
                <h5>tel: {{ professor_profile.phone }}</h5>
            </div>
            <div class="ml-auto mr-3">
                <a class="btn btn-outline-success" href="{{ program_detail.pdf_docs.url }}">docs</a>
            </div>
        </div>
    </div>


    <!-- EDUCATION INFO -->
    <div id="education-info-container" class="container">
        <div class="col">
            <h4>Education</h4>
        </div>

    </div>

    <div class="container bg-light border">
        <br />
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{professor_profile.phd_year}} : {{professor_profile.phd}}</h5>
                <p class="card-text">{{professor_profile.phd_grad_institute}}</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{professor_profile.msc_year}} : {{professor_profile.msc}}</h5>
                <p class="card-text">{{professor_profile.msc_grad_institute}}</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{professor_profile.bsc_year}} : {{professor_profile.bsc}}</h5>
                <p class="card-text">{{professor_profile.bsc_grad_institute}}</p>
            </div>
        </div>

        <br />
        <!--<a class="nav-item nav-link" href="{{ program_detail.pdf_docs.url }}">docs</a>-->
    </div>

    <!-- RESPONSIBLE PROGRAM -->
    <div id="responsible_program-container" class="container">
        <div class="col">
            <h4>Responsible Program</h4>
        </div>

    </div>

    <!-- RESPONSIBLE PROFESSOR LIST -->
    <div class=bg-light>
        <ul class="list-group">
            {% for responsible_program in responsible_program %}
            <a class="list-group-item list-group-item-light bg-light" href="{% url 'program_detail' responsible_program.id %}">
                {{ responsible_program.name}}

                <i id="angle-right-icon" class="fas fa-angle-right"></i>
            </a>
            {% endfor %}
        </ul>
    </div>


    <!-- ASSESSMENT RESULT -->
    <div id="assesment_result-container" class="container">
        <div class="col">
            <h4>Committee Profile</h4>
        </div>

    </div>

    <!-- ASSESSMENT RESULT LIST -->
    <div class=bg-light>
        <ul class="list-group">
            {% for year in committee_list %}
            <a class="list-group-item list-group-item-light bg-light" href="{% url 'committee_profile' year.id %}">
                {{ year.year}} : {{ year.assessment_level }}

                <i id="angle-right-icon" class="fas fa-angle-right"></i>
            </a>
            {% endfor %}
        </ul>
    </div>

    <br />
    <br />

</div>




{% endblock %}