{% extends 'base.html' %}

{% block content %}

<div class="container">
    <br /><br />
    <div class="col">
            <a class="btn col-md-1"><br /><b></b></a>
            <a class="btn col-md-0.5"><br /><b></b></a>

        <a id="StudyProgram-btn" class="btn col-md-2" href="{% url 'all_program' %}">
            <br /><b>Study Program</b><br />___________________</a>

        <a class="btn col-md-0.5"><br /><b></b></a>

        <a id="Assessment-btn" class="btn col-md-2" href="{% url 'assessment_menu' %}">
            <br /><b>Assessment</b><br />___________________</a>

            <a class="btn col-md-0.5"><br /><b></b></a>

        <a id="Professors-btn" class="btn col-md-2" href="{% url 'all_professor' %}">
            <br /><b>Professors</b><br />___________________</a>

            <a class="btn col-md-0.5"><br /><b></b></a>

        <a id="Inbox-btn" class="btn col-md-2" href="{% url 'inbox' %}">
            <br /><b>Inbox</b><br />___________________</a>

            <a class="btn col-md-0.5"><br /><b></b></a>
    </div>
</div>


<!-- <div class="container">
    <div class="col">
        <div class="row">
            <h1></h1>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>

    <div class="col">
         <div class="row">
            <a href="{% url 'all_program' %}" class="btn btn-info col-md-2"><br /><b>Study Program</b></a>
            <a href="{% url 'assessment_menu' %}" class="btn btn-danger col-md-2"><br /><b>Assessment</b></a>
            <a href="{% url 'all_professor' %}" class="btn btn-success col-md-2"><br /><b>Professors</b></a>
            <a href="{% url 'inbox' %}" class="btn btn-secondary col-md-2"><br /><b>Inbox</b></a>
        </div>
    </div>

</div> -->

{% endblock %}